.panier span,p{
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
    color: rgb(255, 203, 50);
    font-size: 20px;
    font-weight: bolder;
    
}
#btn-retirer{
    padding: 6px 12px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 25px;
}
#div-pro{
    display: flex;
    align-items: center;
}
hr {
  border: none;
  border-top: 4px dotted #ffc932; /* couleur dorée */
  margin: 20px;
  width: 1300px;
}
#le-hr{
    display: flex;
    justify-content: center;
}